window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
    open-maximized true
}

window-rule {
    match is-focused=false

    border {
        on
        width 1
        inactive-color "#414868"
    }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match title="^launcher"
    open-floating true
}

// TODO: Break this into multiple rules
window-rule {
    match app-id=r#"^(vlc|io.github.niri.screenshare.picker|org.pulseaudio.pavucontrol)"#
    match title=r#"((Open|Save|Select) (File|Folder|Files)|Friends List|Volume Control)"#
    open-floating true
}

window-rule {
    match app-id="kitty"
    default-column-width { proportion 0.5; }
    open-maximized false
}
