include "./input/desktop-input.kdl"
include "./output/desktop-output.kdl"
include "./layout/desktop-layout.kdl"
include "./overview/overview.kdl"
include "./autostart/autostart-desktop.kdl"
include "./misc/misc.kdl"
include "./layer_rules/layer-rules.kdl"
include "./window_rules/desktop-window-rules.kdl"
include "./binds/desktop-binds.kdl"
