include "./input/input.kdl"
include "./output/laptop-output.kdl"
include "./layout/layout.kdl"
include "./overview/overview.kdl"
include "./autostart/autostart.kdl"
include "./misc/misc.kdl"
include "./layer_rules/layer-rules.kdl"
include "./window_rules/window-rules.kdl"
include "./binds/laptop-binds.kdl"
